<div class="row">
    <div class="col-lg">
        <ec2-instances></ec2-instances>
    </div>
    {{!-- <div class="w-100"></div> --}}
    <div class="col-lg">
        <rds-instances></rds-instances>
    </div>
</div>
<notifications></notifications>