<footer class="text-muted mt-4">
    <div class="container">
        <div class="col-sm">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Be nice. Sister <strong>Ма́ша</strong> is watching you!</p>
        </div>
        <div class="w-100"></div>
        <div class="col-sm text-center">
            <p>
                <i class="fab fa-bootstrap fa-2x p-2"></i>
                <i class="fab fa-css3 fa-2x p-2"></i>
                <i class="fab fa-docker fa-2x p-2x"></i>
                <i class="fab fa-font-awesome fa-2x p-2x"></i>
                <i class="fab fa-html5 fa-2x p-2"></i>
                <i class="fab fa-js fa-2x p-2"></i>
                <i class="fab fa-node fa-2x p-2"></i>
                <i class="fab fa-npm fa-2x p-2"></i>
                <i class="fab fa-ubuntu fa-2x p-2"></i>
                <i class="fab fa-vuejs fa-2x p-2"></i>
            </p>
        </div>
    </div>
</footer>