<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <i class="fab fa-aws fa-lg ml-2"></i>
        <span class="ml-2">ISS</span>
        <span class="ml-2 text-muted">Instance State Scheduler</span>
    </a>
</nav>